.nav{
    top: 0.5%;
    width: 100vw;
    display: block;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 3;
  }

.nav-links{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: Helvetica;
    list-style: none;
}
.links{
    color: white;
    padding: 10px;
    margin: 20px;
    border: rgba(255, 217, 0, 0) 2px solid;
    transition-duration: 0.5s;
}

li>img{
    height: 40px;
}

li:nth-child(1):hover{
    border: none;
}

.links:hover{
    color: gold;
    border: gold 2px solid;
    text-decoration: none;
    transition-duration: 1s;
}